.line {
    width: 75%;
    height: 30px;
    border-bottom: 1px solid #71717550;
    color: #cd121a;
    overflow: hidden;
}

.animation {
    white-space: nowrap;
}

@keyframes news {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}
