.bg {
    background: url('../../assets/images/bg-login1.png') #fff;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
.bgallpages {
    background: url('../../assets/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.btn-submit {
    height: 65px;
    border: 1px solid #cd121a;
    color: #fff;
    background: #cd121a;
    text-transform: uppercase;
}

.btn-submit:hover {
    background-color: transparent;
    color: #cd121a;
}

.rtl {
    float: right;
    text-align: right;
    font-size: 17pt;
    /* font-family: 'Droid Arabic Kufi'; */
    font-weight: Regular;
    margin-top: -13px;
    color: #1f1f1f;
}
.input {
    /* font-family: 'Arabic Kufi'; */
    margin-top: -13px;
    font-weight: Regular;
    font-size: 17pt;
    color: #999999;
    border: #b20606 1px solid;
    text-align: right;
    outline: none;
}

.form {
    /* position: abdolute; */
    padding: 0%;
    width: 100%;
    /* opacity: 0.93; */
    background: linear-gradient(#b5e2f5, #fff);
    border-radius: 25px;
    border: 2px solid #87868a;
}

.login_btn {
    margin-top: 7px;
    margin-right: -15px;
}

.link_btn {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 15px;
    text-align: right;
}
.link_btn a{
    color: #000;
    text-decoration: none;
    font-weight: 700;
}
.link_btn a:hover{
    color: #cd121a;
}
.formPadding {
    padding: 30px;
    margin: auto;
}

.form-title {
    color: #1f1f1f;
    /* font-family: 'Droid Arabic Kufi'; */
    font-weight: Bold;
    font-size: 200%;
    padding-top: 2%;
}
.img {
    width: 150px;
    margin-right: -40px;
    padding-top: 1%;
}

.label {
    margin-right: 8px;
}
.logo {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
}
.shadow-login {
    position: relative;
    height: 100vh;
}
.shadow-login:after{
    content: '';
    background: url('../../assets/images/shadow-login.png');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: repeat-y;
}
.modal-login{
    width: 460px; 
    margin-left: 7%
}
.footer-login{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.footer-login img{
    width: 100%;
}
.logo-rec{
    max-width: 310px;
    margin-top: 30px;
    /* margin-left: auto;
    margin-right: 14%; */
}
.blc_logo_right {
    text-align: right;
}
.blc_logo_left  img{
    margin-left: 130px;
}
.blc_logo_right  img{
    margin-right: 130px;
}
.icon-input{
    position: absolute;
    left: 0;
    top: 0;
    background: #1f75ba;
    width: 65px;
    height: 100%;
    line-height: 100%;
    color: #fff;
}
.icon-input svg{
    height: 100%;
}