.footerApp {
    width: 100%;
    margin: auto;
    /* padding: 12px 12px 0 12px; */
    background: linear-gradient(#cfcfcf, #9a9a9a);
    margin-top: 40px;
    position: relative;
}
.footerApp .blc-bottom-footer > div{
    width: 100%;
    display: block;
    margin-right: 0;
}
.footerApp .blc-footer-top{
    position: relative;
}
.footerApp .blc-footer-top:after{
   content: '';
   width: 413px;
   height: 100%;
   position: absolute;
   background: url("../../assets/images/bg-footer.png") 0 0 no-repeat;
   right: 0;
   top: 0;
   z-index: 0;
}
.iconFooter {
    font-size: 24px;
    margin: 0 5px;
    color: #cd121a;
}

.footerApp a {
    text-decoration: none;
}
.phoneNumber {
    padding: 3px;
}
.blc_rs img {
    width: 35px;
}
@media only screen and (max-width: 959px) and (min-width: 600px) {
    .tel {
        order: 3;
    }
}
.public {
    color: #1f1f1f;
    /* font-family: 'Open Sans'; */
    font-size: 22;
}
.slogan{
    text-align: start;
    color: #c20d20!important;
    font-weight: bold;
    margin-bottom: 1rem;
}

.login-span{
    padding-left: 8px;
    font-size: smaller;
}

@media (max-width: 480px){
    .login-span{
        padding-left: 4px;
        font-size: x-small;
    }

}

/*Footer*/
footer {
    /*background: #555;*/
    /*background: #c20d20;*/
    background: #f6f6f6;
    /*padding: 35px 0 20px;*/
    /*color: #FFF;*/
    color: #717175;
   
      
}

footer a {
    /*color: #FFF;*/
    color: #717175;
}

footer a:hover {
    /*color: #dedede;*/
    color: #c20d20;
}

footer > div > div {
    display: inline-block;
    width: 32%;
    margin-right: 1%;
}

.footleft {
    width: 28%;
    /*padding-left: 4%;*/
}

.footleft p {
    font-size: .8rem;
    /*padding-left: 4%;*/
}

.footmid h3, .footright h3, .footleft h3 {
	color: #000000;
    font-weight: 700 !important;
}
.footleft h3 {
    font-size: 1.14rem !important;
}

footer img, footer span, footer p {
    display: block;
    text-align: justify;
    margin-bottom: 0;
}

footer span {
    font-size: 22px;
    letter-spacing: 3px;
    padding-top: 5px;
    /*margin-bottom: 15px;*/
    margin-bottom: 8px;
    /*color: #AAA;*/
}

.footmid, .footright {
    vertical-align: top;
    margin-top: 5px;
}

.footmid h3, .footright h3 {
    margin: 0 0 15px;
    font-size: 26px;
    /*color: #c20d20;*/
    /*border-bottom: 1px solid white;
    border-bottom: 1px solid #c20d20;*/
    padding-bottom: 5px;
    display: inline-block;
    position: relative;
}
.footright h3:after{
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #93c136, #fff);
    z-index: 1;
}

/* .footmid > div {
    margin-top: 10px;
    margin-bottom: 10px;
} */

.footmid a {
    /* padding: 8px 0 8px 15px; 
    font-weight: bold;
    letter-spacing: 1px;*/
    font-size: 13px;
    display: block;
}

/*.footright {
    width: 20%;
     padding-left: 5%; 
    height: 460px;
}*/
.footerApp .MuiGrid-item{
    padding: 30px;
    z-index: 1;
}
.footerApp .MuiGrid-item.footright {
    padding-right: 60px;
}
@media (max-width: 768px){
    .footright{
        height: auto;
    }

}

.footright li {
    list-style: none;
}

.footright a {
    display: inline-block;
    font-size: 17px;
    padding-bottom: 8px;
    margin: 0 5px;
    /* float: left; */
}

footer .copyright {
    /*border-top: 1px solid white;*/
    border-top: 1px solid #c20d20;
    width: 100%;
    /*margin-top: 45px;*/
}

footer label {
    font-size: 13px;
    margin-right: 15px;
    display: block;
    margin-bottom: 0;
}

footer .copyright span {
    display: inline-block;
    text-align: left;
    font-size: 13px;
    letter-spacing: 0;
    color: #FFF;
    padding: 2px 12px;
    margin-top: 10px;
    /*border-right: 1px solid #777;*/
    border-right: 1px solid #c20d20;
}

footer .conditions-footer {
    border-right: 0!important;
    /*margin-left: -1rem!important;*/
}

footer .copyright span:nth-child(4) {
    border: none;
}
.history-link {
    text-align: center;
    text-decoration: none;
    background: #c20d20!important;
    color: white!important;
    border: solid #c20d20 1px;
    margin-left: 0!important;
    margin: 10px 4rem!important;
    border-radius: 2px;
    font-size: 1.4rem!important;
    width: 60%;
}
.blc_rs {
    text-align: right;
    margin-top: 20px;
}
.footerApp .MuiGrid-item.blc_bottom_logo {
    background: #fff;
    padding: 15px;
}
.blc_bottom_logo img{
    max-width: 200px;
    margin: 0 auto;
}
@media (max-width: 1200px){
    .footleft img {
        width: 100%;
    }
}

/*End Footer*/
/*Header*/
/* p.username {
  float: left;
  margin-top: 10px;
} */
header.dashboard-header .d-flex.flex-column {
  flex-direction: row !important;
}
header.dashboard-header .d-flex.justify-content-end.align-items-center.w-100 {
    position: relative;
}
/*End Header*/
