.slider {
    display: block;
}

/*IMAGE Animation*/
/* Shine */
/*.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
	position: relative;
}
.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

/**/

/* Zoom In #1 */
.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded
    .MuiCardMedia-root {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded:hover
    .MuiCardMedia-root {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.MuiPaper-root.MuiCard-root.MuiPaper-elevation1 {
    box-shadow: none !important;
    /* border: 1px solid #12145f; */
    box-shadow: 7px 7px 7px 7px #b2b6b9 !important;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
}

.swiper-slide {
    padding: 1% !important;
}

.MuiCardContent-root {
    height: 130px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    color: #12145f;
    font-weight: 700;
}

.MuiPaper-root.MuiCard-root.MuiPaper-elevation1 .makeStyles-media-19 {
    /* height: 180px; */
}

.swiper-container.swiper-container-initialized.swiper-container-horizontal.swiper-container-pointer-events {
    padding: 0 60px;
}
