/* Setup */
@import 'base/variables';
// @import "base/fonts";
@import 'base/mixins';

/* Vendor */
@import '~bootstrap/scss/bootstrap';

@import 'base/globals';

/* Components */

/* Containers */

/* Pages */
/*Patch container fluid*/
.container-fluid {
    padding-right: 0px !important; 
    padding-left: 0px !important; 
    background-color: #fff;
    background: url(https://www.opaliarecordati.com/img/opalia-icon/background_repeat.png) center center repeat;
}